* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    background: radial-gradient(rgba(54, 17, 69, 1), rgba(48, 20, 59, 1));;
    font-family: 'Roboto Mono', Arial, sans-serif;
    color: white;
}

